@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: #fff;
    padding-bottom: 90px;
    background-color: #1D1D1D;
}


body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #1D1D1D;
}

body::-webkit-scrollbar-thumb {
    background-color: #5c5b5b; 
    border-radius: 5px;
    border: 2px solid #1D1D1D; 
}

body::-webkit-scrollbar-thumb:hover {
    background: #5c5b5b; 
}

#brand-image {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
}

.prev-btn button {
    padding: 10px 20px;
    background: transparent;
    align-items: left;
    background-color: transparent;
    margin-top: 20px;
    margin-left: 10px;
}

.prev-btn i {
    color: white;
    font-size: 22px;
    margin-right: 20px;
    background-color: transparent;
    background: transparent;
}

#brand-image img {
    height: 100px;
}

.form-wrapper {
    width: 30%;
    margin: auto;
    text-align: center;
}

.form-wrapper h1 {
    font-size: 28px;
    text-transform: capitalize;
}

.apple-btn {
    background-color: #fff !important;
    color: #000 !important;
}

.google-btn {
    background-color: red !important;
}

.form-wrapper button {
    width: 100%;
    padding: 15px 32px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
    background-color: #234794;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.form-wrapper button:hover {
    transform: scale(1.05);
}

.form-wrapper button i {
    margin-right: 10px;
}

.divider {
    display: flex;
    justify-content: space-between;
}

.divider div {
    background-color: rgb(149, 233, 13);
    height: 1px;
    width: 100%;
    margin: 14px;
    margin-top: 30px;
}

form {
    padding: 20px;
    text-align: left;
}

form label {
    display: block;
    font-size: 16px;
}

form input {
    width: 90%;
    padding: 10px 20px;
    border: 2px solid rgb(149, 233, 13);
    border-radius: 12px;
    font-size: 16px;
    margin-bottom: 35px;
}

input:focus {
    outline: none;
}

.gender-container {
    display: flex;
    margin-top: 5px;
    justify-content: space-evenly;
}

.gender {
    display: inline-block;
    width: auto;
    margin: 0;
    margin-right: 3px;
}

.gender-radio {
    width: auto;
    display: inline-block;
    padding: 0;
}

.sign-up-btn {
    width: 100% !important;
    background-color: rgb(78, 151, 73) !important;
}

.sign-up-btn:hover {
    background-color: rgb(107, 206, 100) !important;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a:hover{
    text-decoration: underline;
    color: #1db954;
}